<!DOCTYPE html>
<!--SITE-->
<html lang="pt-br">
<!-- <script src="js/jvs.js"></script> -->

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta charset="UTF-8" />
  <title> Portal de Dados Aberto </title>
</head>

<body>
  <div class="container">
    <header class="cabecalho">
      <div class="img">
        <img id="logoprodabel" src={{url}}>
      </div>
      <nav class="sideBar">
        <li><a href="https://dados.pbh.gov.br/dataset" target="_blank">Conjuntos de dados</a></li>
        <li><a href="https://dados.pbh.gov.br/organization" target="_blank">Organizações</a></li>
        <li><a href="https://dados.pbh.gov.br/group" target="_blank">Grupos</a></li>
        <li><a href="https://dados.pbh.gov.br/about" target="_blank">Sobre</a></li>
      </nav>

    </header>
    <main>
      <section class="corpo">
        <div id="esquerda">
          <iframe
            src="https://app.powerbi.com/view?r=eyJrIjoiMGEzNGEzMzItYjlhYy00Y2Y4LWIyZmMtYWQxODhhMmVmMTZhIiwidCI6IjVkNzdmY2E1LWIxZDEtNDI3OS1iNzk3LWEzYTY1NzA2Y2YxOSJ9&pageName=ReportSection"
            frameborder="0" allowFullScreen="true"></iframe>
        </div>
        <div id="direita">
          <div id="direitaUp">
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laudantium ipsum modi libero rem tempore iure
              tempora perspiciatis eos unde corrupti fugit possimus sit minus, quaerat, maxime quasi eius ratione sint?
              Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus natus quo non ipsum rerum hic
              expedita facere accusamus officiis ratione excepturi dolorem deserunt laboriosam, porro incidunt commodi
              consequatur pariatur eius!</p>
          </div>
          <div id="direitaDown">
            <h3>Portal de Dados Abertos estatísticas</h3>
            <ul>
              <li>
                <a href="https://dados.pbh.gov.br/dataset" target="_blank">142 conjuntos de dados</a>
              </li>
              <li>
                <a href="https://dados.pbh.gov.br/organization" target="_blank">18 organizações</a>
              </li>
              <li>
                <a href="https://dados.pbh.gov.br/group" target="_blank">21 grupos</a>
              </li>
            </ul>
          </div>
        </div>
      </section>

    </main>
    <footer class="rodape">
      <div id="resquerda">
        <h4>
          Sobre Portal de Dados Abertos
        </h4>
      </div>
      <div id="rdireita">
        <h4>
          Impulsionado por <br><sup>&copy;</sup><i>Adriano Gonçalves de Resende</i>
        </h4>
      </div>
    </footer>
  </div>
</body>

</html>
